@import "tailwindcss";

:root {
  --font-sans: "Poppins", sans-serif;
}

body {
  font-family: var(--font-sans);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #092c1c;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-scroller::-webkit-scrollbar-track {
  background: #092c1c1e;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background: #092c1cc9;
}

.custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #092c1c;
}

.custom-scroller2::-webkit-scrollbar {
  width: 7px;
}

.custom-scroller2::-webkit-scrollbar-track {
  background: #092c1c1e;
}

.custom-scroller2::-webkit-scrollbar-thumb {
  background: #092c1cc9;
}

.custom-scroller2::-webkit-scrollbar-thumb:hover {
  background: #092c1c;
}

.custom-scroller3::-webkit-scrollbar {
  height: 5px;
}

.custom-scroller3::-webkit-scrollbar-track {
  background: #092c1c1e;
}

.custom-scroller3::-webkit-scrollbar-thumb {
  background: #092c1cc9;
}

.custom-scroller3::-webkit-scrollbar-thumb:hover {
  background: #092c1c;
}

.custom-scroller4::-webkit-scrollbar {
  height: 3px;
}

.custom-scroller4::-webkit-scrollbar-track {
  background: #092c1c1e;
}

.custom-scroller4::-webkit-scrollbar-thumb {
  background: #092c1cc9;
}

.custom-scroller4::-webkit-scrollbar-thumb:hover {
  background: #092c1c;
}

/* input::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
} */

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}
